.elemento{
    background-color: orange;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    border: 1px black solid;
    line-height: 50px;
}
.contenedor{
    height: 500px;
    border: 4px blue solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.elemento:nth-child(2n){
    height: 100px;
    background-color: yellow;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .elemento:nth-child(2n){
        height: 200px;
        background-color: cyan;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992) {
    .elemento:nth-child(2n){
        height: 150px;
        background-color: purple;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200) {
    .elemento:nth-child(2n){
        height: 300px;
        background-color: red;
    }

}